@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.hero-carousel__top-line {
  font-size: 72px; /* Default for larger screens (PC) */
}

.btn123{
  font-size: 15px !important;
}

.site-header {
  padding: 35px !important;
}

@media (max-width: 768px) {
  .hero-carousel__top-line {
    font-size: 25px; /* For mobile screens */
  }
  .btn123{
    font-size: 11px !important;
  }
  .site-header__logo{
    width: 70%;
  }
  .site-header {
    padding: 18px !important;
}
 
}


.slick-slide{
  text-align: center;
  text-align: -webkit-center; 
}

